// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";



// Primaries
@zesty-dark-blue: 		#1b202c;
@zesty-tab-blue:		#697A91;
@zesty-orange: 			#F17829;
@zesty-red: 			rgb(230,74,23);
//@zesty-green: 			#75BF43;
@dev-theme: 			#77b250; //Developer & Parsley docs green
@zesty-green: 			desaturate(#75BF43,10%);
@zesty-blue: 			#497edf;
@zesty-teal:			#6a9293;
@zesty-white:			#eff5ff;

// secondaries
@zesty-light-blue: 		#C3CDDF;
@zesty-field-blue:      #C7D4EA;
@zesty-background-blue:	#D6E8F5;
@zesty-grey: 			#5B667D;
@zesty-gray: 			@zesty-grey;
@zesty-light-grey:		#A7AFBF;
@zesty-light-gray:		@zesty-light-grey;
@nav-border-color: 		#3c465e;
@zesty-tab-color:		darken(@zesty-grey,7%);
@yellow-highlight:		#FFFDE2;
@zesty-highlight: 		@yellow-highlight;
@white:					#ffffff;
@black:					#000000;
@zesty-white-blue:		#f2f4fb;
@zesty-blue-white:	@zesty-white-blue;

@dark-blue: #1B1F2C;
@darker-blue: darken(@dark-blue, 5%);
@parsley-green: #96C45B;
@header-color: #CFDCFF;
@white: #E5EAF9;
@pure-white: #ffffff;
@light-blue: #D9E2F4;

// specific variables
@headerHeight: 40px;
@trayHeight: @headerHeight * 7;
@trayFullHeight: @headerHeight * 14;
@spacingMeasurement: 12px;

.zesty-tray {
	height: @trayHeight;
	background: @dark-blue;
	transition: height ease 250ms;
	&.minimize{
		height: @headerHeight;
	}

	.header{
		padding: 0px;
		height: @headerHeight;
		line-height: @headerHeight;
		color: @white;
		background: @darker-blue;

		.headerLogo{
			margin: 8px @spacingMeasurement 0px 10px;
			width: @spacingMeasurement * 2;
		}
		.alphaTag{
			background: @zesty-orange;
			color: @pure-white;
			font-weight: 500;
			border-radius: 3px;
			padding: 3px (@spacingMeasurement / 2);
			margin-left: @spacingMeasurement;
		}

	}

	.header-item{
		padding: 0px;
		margin-right: @spacingMeasurement;
		.instanceName {
			margin-right: @spacingMeasurement;
			color: @white;
		}
		.btn {
			border: 1px solid @dark-blue;
    	background-color: lighten(@dark-blue,2%);
    	background-image: linear-gradient(lighten(@dark-blue,2%), lighten(@dark-blue,4%) );
		}

	}
	.wrapper{
		display: flex;
		height: @trayHeight - @headerHeight;

		.leftContainer{
			flex: 5;
			height: auto;
			padding: @spacingMeasurement;
			overflow: hidden;

			.scrollContainer{
				position:relative;
				overflow-y: scroll;
				width: 103%;
				height: @trayHeight - @headerHeight;

				.zestyTabFrame {
					position: absolute;
					min-height: @trayHeight - @headerHeight;
					width: 98%;
					z-index: 1;
					display: none;
					background: @dark-blue;

					&.active {
						z-index: 2;
						display: block;
					}
				}
			}

		}
		.rightContainer{
			flex: 1;
			height: auto;
			background: lighten(@dark-blue,3%);
			background-image: linear-gradient(-90deg, lighten(@dark-blue,3%), lighten(@dark-blue,4%));
			border-bottom: 1px @zesty-white solid;

			.zestyTabs{
				list-style: none;
				padding: @spacingMeasurement @spacingMeasurement 0 0;

				display: flex;
				flex-direction: column;

				.zestyTab{
					//border:1px @zesty-tab-blue solid;
					border-left: none;
					flex: 1;
					border-radius: 0 3px 5px 0px;
					padding: @spacingMeasurement @spacingMeasurement;
					margin: 0 0 (@spacingMeasurement / 2) 0;
					color: @zesty-gray;

					&.active {

						background: @dark-blue;
						color: @white;
					}
					&:hover {
						cursor: pointer;
						color: @white;
					}


				}
			}


		}
	}


}
